<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2N1 Cafe - Order</title>
    <link rel="stylesheet" href="/public/maincss/order.css">
</head>
<body>
    <div class="order-screen">
        <div class="options-container">
            <div class="option" onclick="window.location.href='/views/mainpage/kiosk.ejs'">
                <img src="/public/dine.png" alt="Dine In">
                <p>Dine In</p>
            </div>
            <div class="option" onclick="window.location.href='/views/mainpage/kiosk.ejs'">
                <img src="/public/takeout.png" alt="Take Out">
                <p>Take Out</p>
            </div>
        </div>
    </div>
</body>
</html>