<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2N1 Cafe Kiosk</title>
    <link rel="stylesheet" href="/public/maincss/start.css">
</head>
<body>
    <div class="start-screen" onclick="window.location.href='/views/mainpage/order.ejs'">
        <p class="start-text">Click anywhere to begin</p>
        </div>
    </div>
</body>
</html>