<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="logregstyle.css">
</head>
<body>
  <div class="container">
        <!-- Left Image Section -->
        <div class="image-section">
          <img src="2N1.jpg" alt="Left Side Image">
        </div>
        
        <!-- Right Form Inputs Section -->
        <div class="input-section">
          <div class="login form">
            <header>2N1 Cafe</header>
            <div class="form-content">
          <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <input type="submit" class="button" value="Login">
          </form>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>
